.git
.github
node_modules
vendor
data/*.db
data/*.db-journal
data/*.db-wal
logs
*.log
.DS_Store
Thumbs.db
.phpunit.result.cache
coverage
README.md
test-server.js
tests
phpunit.xml
docker-compose.yml
portainer-stack.json
